.card {
    position: relative;
    color: white;
    width: 800px;
    aspect-ratio: 1/1;
    container-type: inline-size;
}

.portrait-frame {
    position: absolute;
    top: 25%;
    left: 2%;
    overflow: visible;
}

.portrait {
    width: 100%;
    height: 100%;
    filter: grayscale(100);
    object-fit: contain;
    object-position: center;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.name-block {
    position: absolute;
    top: 30%;
    left: 55%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name {
    font-size: clamp(12px, 6.5cqw, 150px);
    line-height: 1.1;
    word-spacing: 9999px;
    overflow-wrap: normal;
}

.occupation {
    font-size: clamp(10px, 3.5cqw, 100px);
    font-weight: lighter;
}

.money {
    position: absolute;
    bottom: 35%;
    left: 55%;

    color: white;
    text-shadow:
        0 0 20px red,
        0 0 40px red,
        0 0 80px darkred;
    max-width: 40%;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
}
